body {
  margin: 0;
  width: 100%;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.roboto{
  font-family: "Roboto", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif !important;
}
.ash_btn {
  background-color: #f1f1f1 !important;
}
.open_sans {
  font-family: "Open Sans", sans-serif;
}

p {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.fs_sm {
  font-size: 0.9rem;
}

.brown_border {
  border: 1px solid #ab3335 !important;
}

.border_brown {
  border-left: 1px solid #ab3335 !important;
}

.bottom_brown {
  border-bottom: 1px solid rgba(171, 51, 53, 0.5) !important;
}

input:focus-visible {
  outline: none !important;
}

.prime_brown {
  color: #ab3335 !important;
}
.brown_bg {
  background-color: hsla(359, 54%, 44%, 1) !important;
}

.brown_sidebar {
  background-color: hsla(359, 54%, 44%, 1) !important;
  color: #f1f1f1 !important;
}

.nav_btn:focus{
  background-color: #c3a6a6 !important;
  color:#441d1e !important;
}

.prime_blue {
  color: #03014c !important;
}

.blue_bg {
  background-color: #03014c !important;
}
.sidebar_active {
  background-color: hsla(359, 4%, 8%, 0.5) !important;
}

.guide_active {
  color: #ab3335 !important;
}

.sidebar_height {
  max-height: 100%;
  overflow-y: scroll;
  scrollbar-width: none !important;
}

/* .login_label {
  color: hsla(242, 97%, 15%, 0.5);
} */

.otp_container {
  display: flex;
  justify-content: space-between;
}

.otp_style {
  display: block;
  height: 2.5rem;
  width: 2.5rem !important;
  font-size: 2.5rem;
  border: none;
  border-bottom: 2px solid #4e0076;
}

.login_layout {
  background-image: url("./assets/login-bg.png");
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
}
.icon_square {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 5%, 91%, 1);
  border-radius: 10px;
  position: relative;
}

.icon_square div {
  transform: translate(-50%, 100%) !important;
}

.input_bg {
  background-color: hsla(0, 0%, 96%, 1) !important;
  text-align: start;
}
.input_bg:focus-visible {
  background-color: hsla(0, 0%, 96%, 1) !important;
}

.overflow_y {
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.video_card {
  height: 300px;
  border-radius: 10px;
}

.iframe {
  width: 100%;
  height: 100%;
}

.dash_grid {
  max-height: 250px;
  min-height: 250px;
}

.fs_xsm {
  font-size: 0.7rem !important;
}

.light_sky {
  background-color: hsla(219, 50%, 95%, 1);
}

.icon_mic {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  bottom: 0.5rem;
  left: 0.5rem;
  background-color: #03014c;
  border-radius: 50%;
}
.video_btns {
  height: 40px !important;
  width: 40px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiny_circle {
  height: 25px !important;
  width: 25px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no_arrow::after {
  border: none !important;
  margin: 0px !important;
}

.red {
  background-color: hsla(4, 89%, 58%, 1) !important;
}

.red_text {
  color: hsla(4, 89%, 58%, 1) !important;
}

.chat_img {
  height: 35px;
  width: 35px;
}

.focus_brown:focus {
  border-color: #ab3335 !important;
}

.dark_ash {
  background-color: #cccaca;
}
.ash_text {
  color: #9e9e9e !important;
}

.light_ash {
  background-color: hsla(210, 15%, 29%, 0.04);
}
.px_4rem {
  padding-left: 5rem !important;
  padding-right: 6rem !important;
}

.light_danger {
  background-color: hsla(0, 75%, 64%, 0.2);
}

.yellow_text {
  color: hsla(43, 100%, 51%, 1);
}
.yellow_bg {
  background-color: hsla(43, 100%, 51%, 1);
}

.chat_pic {
  width: 30px !important;
  height: 30px !important;
}

.border_brown {
  border-color: #ab3335 !important;
}

.powderBlue{
  background-color: #ab3335;
}

.items_style {
  padding: 0px 1rem;
}

.active_dot {
  background-color: #ab3335;
}

.dots_list {
  bottom: 0px;
  /* background-color: #03014c; */
  display: flex;
  justify-content: end;
}

#no_border {
  border: none !important;
  width: 30px;
  margin-right: 5px;
  padding: 2px 0;
}

.inherit_text {
  color: inherit !important;
}

.inherit_bg {
  background-color: inherit !important;
}

.normal_btn {
  width: 150px;
}

.student_stats_icon {
  height: 60px;
  width: 60px;
  background-color: hsla(242, 97%, 15%, 0.15);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registra_nav {
  background-color: hsla(359, 54%, 44%, 0.1) !important;
  height: 100%;
  border-radius: 5px;
}

input[type="radio"].red_radio {
  background-color: #ab3335;
  /* accent-color: green!important; */
}

.light_brown {
  background-color: hsla(359, 54%, 44%, 0.15) !important;
}
.overflow_y_80 {
  max-height: 80vh;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.ql-toolbar {
  background-color: hsla(359, 54%, 44%, 1) !important;
  fill: white !important;
}
.ql-snow .ql-picker{
  background-color: hsla(359, 54%, 44%, 1) !important;
  color: white !important;
}

.ql-picker-options{
  background-color: hsla(359, 54%, 44%, 1) !important;
  color: white !important;
}

.ql-editor{
  min-height: 100px;
}
.ql-snow .ql-stroke{
  stroke: white;
}
.ql-snow .ql-fill{
  stroke: white;
}

@media (min-width: 768px) {
  .chat_pic {
    width: 60px !important;
    height: 60px !important;
  }
  .fs-md-5 {
    font-size: 1.25rem !important;
  }
  .vh_md_100 {
    height: 100vh !important;
  }
  body {
    overflow: unset !important;
    padding-right: 0px !important;
  }
  .overflow_y_50 {
    max-height: 50vh;
    overflow-y: scroll;
    scrollbar-width: thin;
  }
  .w_md_unset{
    width: unset !important;
  }
}
